
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

<div id="customer"> </div>
@section scripts{
    <script src="~/Scripts/react/dist/Customers.bundle.js"></script>
}


