<!DOCTYPE html>
<html>
<head>
        <style>
        ul {
          
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
            
        }

            li:last-child {
                border-right: none;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 20px 25px;
                text-decoration: none;
                font-size:23px
            }

            
       
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
</head>
<body>





    <ul style="  margin-top:3%">
        <li><a href="Customer">React</a></li>

        <li style=" margin-left:30px"><a class="active" href="Customer">Customers</a></li>
        <li><a href="Store">Stores</a></li>
        <li><a href="Sale">Sales</a></li>
        <li><a href="Product">Products</a></li>
    </ul>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>